.container {
  display: flex;
  align-items: center;
  gap: 30px;
}

.textContainer {
  display: flex;
  flex-direction: column;
}
.img {
  border-radius: 50%;
}

.name {
  font-size: 18px;
  font-weight: bold;
}
.comment {
  font-size: 16px;
}

/* @media screen and (max-width: 1024px) {
} */

@media screen and (max-width: 768px) {
  .name {
    font-size: 14px;
  }
  .comment {
    font-size: 12px;
  }
}
